<h1>Lista de HOTELES</h1>

<div class="card">
  <div class="card-body">
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Hotel</th>
        <th>Ciudad</th>
        <th>Acciones</th>
      </tr>
      <% @hoteles.each do |h| %>
        <tr>
          <td>
            <%= h.id %>
          </td>
          <td>
            <%= h.nombre %>
          </td>
          <td>
            <% h.estrellas.to_i.times do |estrellas| %>
              ⭐
            <% end %>
          </td>
          <td>
            <%= h.ciudad.nombre %>
          </td>
          <td>
            <%= link_to "Editar", editar_hotel_path(h), class: "btn btn-outline-warning" %>
            <%= link_to "Eliminar", hotel_path(h),
              class: 'btn btn-outline-danger',
              method: :delete,
              data: {confirm: "¿Estás seguro que quiere eliminar el hotel?"} %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>