<h1>Editar Ciudad</h1>

<%= form_with(model: @ciudad) do |formulario| %>

  <%= formulario.label    :nombre %>   
  <%= formulario.text_field    :nombre %>   
  <% if @ciudad.errors[:nombre].first %>
    <div>
      <%= @ciudad.errors[:nombre].first %>
    </div>
  <% end %>

  <button>Cancelar</button>

  <%= formulario.submit "Actualizar" %>
<% end %>