<h1>Lista de ciudades registradas</h1>

<%= link_to "Crear nueva ciudad", nueva_ciudad_path %>

<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Acciones</th>
  </tr>
  <% @lista_ciudades.each do |c| %>
    <tr>
      <td>
        <%= c.id %>
      </td>
      <td>
        <%= c.nombre %>
      </td>
      <td>
        <%= link_to "Editar", editar_ciudad_path(c) %>
        <%= link_to "Eliminar", ciudad_path(c), method: :delete %> <!--se puede escribir también como ciudad_delete_path, pero no es lo más común.-->
      </td>  
    </tr>
  <% end %>
</table>